<div id="inner">
<p>	
This page was realized with <a href="http://sinatrarb.com">Sinatra</a> (crowd applauds histerically), implemented by <a href="http://code79.net">Daniel Schmidt</a> <%=Time.now.year%> (crowd stopps applauding immediately).

It uses the <a href="https://github.com/dsci/bishl">BISHL gem</a>.<br />
<%=link_to("Impressum", :impressum)%>
</p>
</div>