<div id="infobox">
<strong>Trainingszeiten Sommer</strong>: 
Ab Kalenderwoche 23:
<br/>
<ul style="list-style:none;">
<li>Dienstags, 18.30 Uhr - Rollsportplatz Leipzig, Grünau</li>
<li>Mittwochs, 20:00 Uhr - Sporthalle Dinterplatz, Borna</li>
</ul>

<br />
Fragen zum Training könnt ihr per eMail stellen: dsci&#064;skaterhockey-leipzig.de
</div>
<img src='/images/skaterhockey/aushang.png' />
<%= partial :news_index %>
<a href="/archiv">ältere Nachrichten</a>