<div id="infobox">
<strong>Trainingszeiten Sommer</strong>: 
Ab 2013:
<br/>
<ul style="list-style:none;">
<li>Donnerstags, 20:00 Uhr - Turnhalle Heinrich-Pestalozzi -Schule (Böhlitz-Ehrenberg)</li>
</ul>

<br />
Fragen zum Training könnt ihr per eMail stellen: dsci&#064;skaterhockey-leipzig.de
</div>
<img src='/images/skaterhockey/aushang.png' />
<%= partial :news_index %>
<a href="/archiv">ältere Nachrichten</a>
