<div id="infobox"><strong>Trainingszeiten</strong>: Dienstag u. Donnerstag, 18.00 Uhr Park 5.1, Leipzig-Grünau.<br />
Fragen zum Training könnt ihr per eMail stellen: dsci&#064;skaterhockey-leipzig.de</div>
<%= partial :news_index %>
<a href="/archiv">ältere Nachrichten</a>